@charset "UTF-8";        


  @media (min-width:2601px) {
    #top {width: 100%; height: 100%; background: url(../img/top1-3.png); }
    .topimgbox {width: 100%; margin: 0 auto;  }
    .kimimg { width: 69vw; height: 78vh; background: url(../img/top2img.png) center/cover no-repeat; margin: 0 auto; }
    /* 신청하기 버튼 */
    .kigimgbox {width: 19%; height: 21%; float: right; margin-top: 604px; margin-right: 54px; }
    .kigimgbox  > a > img {width: 80%;animation: 1s infinite alternate floating;}
    /* float shadow animation */
    @keyframes floating{
      0%{transform: translateY(0px);}
      50%{transform: translateY(-40px);}
      100%{transform: translateY(0px);}
    }
    /* 7버튼 */
    .btn-centerbox {width: 100%; margin-left: 2%; display: flex; justify-content: center;}
    .btn6box {width: 59%; height: 221px; display: flex; align-items: center; margin-top: 10px;}
    .btn6box > p {color: #000;}
    p.eyesbox {background-color: #fff; border-radius: 30px; width: 16%; height: 50px ; margin-right: 7px;}
    .eyesbox a {font-size: 19px; color: #000; line-height: 43px; text-align: center; display: block; text-decoration: none;}
    .eyesbox a:hover {background-color: #ff5ace; border-radius: 30px; color: #fff; height: 50px ; transition: 0.3s; cursor: pointer;}
        
        
        
    #page1 {width: 100%; height: 80%; background: url(../img/1page-background2.png);}
    /* 중간 핸드폰 */
    .phonebox {width: 100%; height: 110px; margin-top: 18px;}
    .centerbox {width: 58%; margin: 0 auto; }
    .centerbox >img {margin-top: -45px; width: 94%;}
    /* 나1 */
    .mebox {width: 28%; height: 50px; }
    .mebox > img {margin-top: -240px; margin-left:190px; width: 86%; }
    /* 원1교시박스 */
    .onecenterbox {width: 100%; height: 53px; margin-top: -33px;}
    .text-1onebox {width: 213px; height: 53px; background-color: #000; border-radius: 30px; margin: 0 auto; }
    .text-1onebox > P {color: #bfbfbf; font-size: 31px; margin: 0 auto; width: 109px; line-height: 55px; font-family: monospace;}
    /* 1칠판 */
    .class1box {width: 100%; height: 26%; margin-top: 327px;}
    .class1centerbox {width: 50%; height: 460px; margin: 0 auto;}
    .class1-blackbordbox {width: 90%; height: 675px; background-color: #fff; border: 15px solid #ff5ace; margin-top: 20px;}
    /* 안에 글씨 */
    .class1-textbox-centerbox {width: 100%; height: 100%; margin: 0 auto;}
    .class1p {font-size: 20px; }
    .class1-textbox {width: 78%; height: 100%; background: url(../img/class1box2.png) no-repeat; margin: 0 auto; }
    .class1-btnbox { height: 250px; float: left; margin-left: 575px; margin-top: 277px;}
    .go-btn { width: 60px; height: 60px; background-color: #ff5ace; border-radius: 50px; text-align: center; padding-top: 8px; margin-bottom: 30px;}
    .go-btn:hover {background-color: #fff; border: 1px solid #ff5ace;  border-radius: 30px;}
    .go-btn > a { color: #fff; font-size: 30px; text-align: center; }
    .go-btn > a:hover {color: #ff5ace;}
    /* phone2 */
    .phone2 {width: 17%; float: right; margin-right: 740px; margin-top: -590px; }
    /* left2cake */
    /* left2cake */
    .cakebox-an {width: 420px; height: 105px; margin-left: 97px; animation-duration: 3s; animation-name: ring; animation-iteration-count: infinite;  }
    .cakebox2 {width: 33%; height: 115px; float: right; background: url(../img/cake3.png) no-repeat; margin-top: -72px;}
    .cakebox-an3 {width: 361px; height: 150px; margin-left: 17px; animation-duration: 3s; animation-name: ring; animation-iteration-count: infinite;  }
    .cakebox3 {width: 29%; height: 118px; margin-left: 73px; margin-top: 62px; background: url(../img/Watermelon1-3.png) no-repeat;}
    @keyframes ring {
      0% { transform: rotate(0); }
      13% { transform: rotate(0.5deg); }
      15% { transform: rotate(-0.5deg); }
      17% { transform: rotate(0.7deg); }
      19% { transform: rotate(-0.7deg); }
      21% { transform: rotate(0.9deg); } 
      23% { transform: rotate(-0.9deg); }
      25% { transform: rotate(1deg); }
      27% { transform: rotate(-1deg); }
      29% { transform: rotate(1.2deg); } 
      31% { transform: rotate(-1.2deg); }
      33% { transform: rotate(1.5deg); }
      35% { transform: rotate(-1.5deg); }

  
      43% { transform: rotate(0); }
      100% { transform: rotate(0); }
    }

 

    #page2 {width: 100%; height: 898px; background: url(../img/2page-background.png);}
    .class2box {width: 100%; height: 800px;}
    .class2centerbox {width: 1667px; height: 490px; margin: 0 auto;}
    .class2-blackbordbox {width: 1340px; height: 610px; background: url(../img/class2box1.png) center/cover no-repeat; margin-left: 35px;}
    .class2-btnbox {width: 80px; height: 200px; float: left; margin-left: 804px; margin-top: 398px;}
    .class2-btnbox > .go-btn {width: 60px; height: 60px; background-color: #b75efc; border-radius: 50px; text-align: center; padding-top: 8px; margin-bottom: 40px;}
    .class2-btnbox > .go-btn:hover {background-color: #fff; border: 1px solid #b75efc;  border-radius: 30px;}
    .class2-btnbox > .go-btn > a { color: #fff; font-size: 30px; text-align: center; }
    .class2-btnbox > .go-btn > a:hover {color: #b75efc;}
    .class2box > img.me2 {width: 26%; margin-right: 380px; margin-top: -500px; float: right;}
    .class2box > img.page3-phone {margin-top: -342px; width: 19%; margin-left: 165px;}

    #page3 {width: 100%; height: 889px; background: url(../img/3page-background.png);}
    .class3box {width: 100%; height: 22%;}
    .class3centerbox {width: 50%; height: 566px; margin: 0 auto;}
    .class3-blackbordbox {width: 90%; height: 768px; background-color: #fff; border: 15px solid #f7b20d; }
    .class3-btnbox {width: 80px; height: 430px; float: left; margin-left: 280px; margin-top: 214px;}
    /* 안에 글씨 */
    .class3-textbox {width: 77%; height: 100%; background: url(../img/class3box1.png) no-repeat; margin: 0 auto; }
    .class3-btnbox > .go-btn {width: 60px; height: 60px; background-color: #f7b20d; border-radius: 50px; text-align: center; padding-top: 8px; margin-bottom: 18px;}
    .class3-btnbox > .go-btn:hover {background-color: #fff; border: 1px solid #f7b20d;  border-radius: 30px;}
    .class3-btnbox > .go-btn > a { color: #fff; font-size: 30px; text-align: center; }
    .class3-btnbox > .go-btn > a:hover {color: #f7b20d;}
    .phone4box {width: 0.01%; height: 180px; margin: 0 auto; }
    .class3-blackbordbox > img.phone4- {width: 40%; float: right; margin-top: -530px; margin-right: -130px;}
    .phone4box {float: right; margin: 0 auto; width: 385px; height: 105px; margin-left: 17px; animation-duration: 6s; animation-name: ring; animation-iteration-count: infinite;}
    img.heart2 {float: right; margin-right: -730px; margin-top: -82px; width: 100%;}
    .class3centerbox > img.exam6- {margin-top: -70px; margin-left: -540px; width: 36%;}

    #page4 {width: 100%; height: 1080px; background: url(../img/4page-background2.png);}
    .class4box {width: 100%; height: 800px;}
    .class4centerbox {width: 53%; height: 490px; margin: 0 auto;}
    .class4-blackbordbox {width: 1220px; height: 890px; background: url(../img/class4box.png) center/cover no-repeat; margin-left: 35px;}
    .class4-btnbox {width: 80px; height: 510px; float: left; margin-left: 802px; margin-top: 395px;}
    .class4-btnbox > .go-btn {width: 60px; height: 60px; background-color: #8dcb07; border-radius: 50px; text-align: center; padding-top: 8px; margin-bottom: 28px;}
    .class4-btnbox > .go-btn:hover {background-color: #fff; border: 1px solid #8dcb07;  border-radius: 30px;}
    .class4-btnbox > .go-btn > a { color: #fff; font-size: 30px; text-align: center; }
    .class4-btnbox > .go-btn > a:hover {color: #8dcb07;}
    .mebox3 {width: 21%; height: 30px;}
    .mebox3 > img.me3- {width: 120%; margin-top: -380px; margin-left: 175px;}
    img.phone5- {width: 19%; margin-left: 145px; margin-top: -70px;}


    #page5 {width: 100%; height: 905px; background: url(../img/5page-background.png);}
    .class5centerbox {width: 50%; height: 566px; margin: 0 auto; padding-top: 130px;}
    .class5-blackbordbox {width: 90%; height: 675px; background-color: #fff; border: 15px solid #00d0d8; }
    /* 좌측 하트 물풍선 */
    .class5-blackbordbox > .blueheart1 {width: 19%; height: 31%; float: left; margin-left: -125px; margin-top: -109px;}
    .class5-btnbox {width: 80px; height: 250px; float: left; margin-left: 560px; margin-top: 258px;}
    /* 안에 글씨 */
    .class5-textbox {width: 83%; height: 93%; background: url(../img/class5box1.png) no-repeat; margin: 0 auto; }
    .class5-btnbox > .go-btn {width: 60px; height: 60px; background-color: #00d0d8; border-radius: 50px; text-align: center; padding-top: 8px; margin-bottom: 30px;}
    .class5-btnbox > .go-btn:hover {background-color: #fff; border: 1px solid #00d0d8;  border-radius: 30px;}
    .class5-btnbox > .go-btn > a { color: #fff; font-size: 30px; text-align: center; }
    .class5-btnbox > .go-btn > a:hover {color: #00d0d8;}
    .class5-blackbordbox > img {width: 37%; margin-right: -40px; margin-top: -420px; float: right;}


    #page6 {width: 100%; height: 1840px; background: url(../img/6page.png);}
    .lovebox {width: 100%; height: 500px; padding-top: 50px;}
    .love-centerbox {width: 62%; height: 805px; margin: 0 auto;}
    .love1box {width: 100%; height: 850px; margin-left: 260px; background: url(../img/love2.png) no-repeat; transform:scale(1)}
    .love3box {width: 100%; height: 850px;  background: url(../img/love3-1.png) no-repeat; margin-left: -147px;}
    .right-applebox {width: 31%; height: 790px; background: url(../img/apple.png); float: right; margin-top: -60px;}
    .lovebox > img {float: right;}
    .class6box {width: 100%; height: 390px; margin-top: 390px; }
    .class6centerbox {width: 42%; height: 490px; margin: 0 auto;}
    .class6-blackbordbox {width: 1470px; height: 843px; background: url(../img/class6-1box.png) no-repeat; transform:scale(1) }
    .class6-btnbox {width: 80px; height: 450px; float: left; margin-left: 833px; margin-top: 403px;}
    .class6-btnbox > .go-btn {width: 60px; height: 60px; background-color: #281762; border-radius: 50px; text-align: center; padding-top: 8px; margin-bottom: 30px;}
    .class6-btnbox > .go-btn:hover {background-color: #fff; border: 1px solid #281762;  border-radius: 30px;}
    .class6-btnbox > .go-btn > a { color: #fff; font-size: 30px; text-align: center; }
    .class6-btnbox > .go-btn > a:hover {color: #281762;}
    .right-mombox {width: 34%; height: 680px; background: url(../img/mom1-1.png) no-repeat; float: right; margin-top: -120px;}

    footer {width: 100%; height: 128px; background-color: #281762;}
    .p2box {padding-top: 25px; width: 60%; margin: 0 auto; display: flex; justify-content: space-around;}
    .footer-p1 {color: #fff; font-size: 30px;}
    .footer-p2 {color: #fff; font-size: 30px;}
    .minibox {margin: 0 auto; width: 58%; padding-top: 10px; }
    .mini {color: #fff; font-size: 17px; margin-top: 30px;}
  }